{% extends 'base.html' %}

{% block title %} База СВТ {% endblock %}

{% block body %}

<div class="d-flex flex-column flex-md-row ">

</div>

<!--<div class="bg-header d-flex bd-hi">-->
<!--<h5 class="my-0 mr-md-auto font-weight-normal">База учёта средств вычислительной техники ГВКГ</h5>-->
<!--    <a class="btn btn-outline-primary" style="margin-left: 90%" href="#">Выйти</a>-->
<!--</div>-->



<!--<div class="m-3 p-3 bg-secondary text-black">-->
<!--    <div class="bg-header " >-->
<!--        <h1> Учет техники ГВКГ </h1>-->
<!--    </div>-->

<!--</div>-->

{% endblock %}