{% extends 'base.html' %}
{% include 'headers.html' %}

{% block title %}  {% endblock %}

{% block body %}
<!--Верстаем окно заголовка-->
<div class="container-fluid" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-12">
            <div class="m-3 p-3 bg-dark-subtle text-black">
               <h2>Сведения о вычислительной технике <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#mymodal">Добавить новую запись</button></h2>
                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Тип СВТ</th>
                        <th>Отделение</th>
                        <th>МОЛ</th>
                        <th>Инвентарный номер</th>
                        <th>Серийный номер</th>
                        <th>Имя СВТ в домене</th>
                        <th>Имя пользователя</th>
                        <th>Тип ОС</th>
                        <th>Требуемое действие</th>
                    </tr>

                    {% for row in employees %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.typesvt}}</td>
                        <td>{{row.otd}}</td>
                        <td>{{row.mol}}</td>
                        <td>{{row.inv}}</td>
                        <td>{{row.serial}}</td>
                        <td>{{row.namedomain}}</td>
                        <td>{{row.nameuser}}</td>
                        <td>{{row.typeos}}</td>

                        <td>
<!--                            <a href="/update/{{row.id}}" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modaledit{{row.id}}">Редактировать </a>-->
                            <span style="margin:auto; font-size:20px; color: #ffc720">
                              <a href="/update/{{row.id}}"></a> <i class="fas fa-edit"  data-bs-toggle="modal" data-bs-target="#modaledit{{row.id}}"></i>
                            </span>
                                |
                            <span style= "font-size:20px; color: red">
                                <a href=""><i class="fas fa-trash-alt" style="color: red" onclick="return confirm('Вы действительно хотите удалить запись?')"></i></a>
                            </span>
<!--                            <a href="" class="btn btn-danger btn-sm" onclick="return confirm('Вы действительно хотите удалить запись?')">Удалить </a>-->
                        </td>
                    </tr>

                    <!-- Модальное окно редактирования-->
                 <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                     <div class="modal-dialog">
                     <div class="modal-content">
                           <div class="modal-header">
                               <h4 class="modal-title">Редактировать данные:</h4>
                           </div>

                           <div class="modal-body">
                               <form action="{{url_for('update')}}" method="POST">
                                   <!-- Поля для окна -->
                                   <div class="mb-3">
                                       <label>Тип СВТ:</label>
                                       <input type="hidden" name="id" value="{{row.id}}">
                                       <input type="text" size="50" value="{{row.typesvt}}"  disabled style="border: none">
                                             <select class="form-select" name="typesvt" type="text" id="{{row.typesvt}}">
                                                 <option selected>Выберите из списка</option>
                                                 <option value="ПЭВМ">ПЭВМ</option>
                                                 <option value="Моноблок">Моноблок</option>
                                                 <option value="Ноутбук">Ноутбук</option>
                                             </select>
                                   </div>

                                   <div class="mb-3">
                                       <label>Отделение:</label>
                                       <input type="text" size="50" value="{{row.otd}}"  disabled style="border: none">
                                             <select class="form-select" name="otd" type="text" id="{{row.otd}}">
                                                <option selected>Выберите из списка</option>
                                                <option value="ОС и ИТ">ОС и ИТ</option>
                                                <option value="ИТО">ИТО</option>
                                             </select>
                                </div>

                                   <div class="mb-3">
                                    <label>МОЛ:</label>
                                    <input type="text" class="form-control" name="mol" value="{{row.mol}}">
                                </div>

                                <div class="mb-3">
                                    <label>Инвентарный номер:</label>
                                    <input type="text" class="form-control" name="inv" value="{{row.inv}}">
                                </div>

                                <div class="mb-3">
                                    <label>Серийный номер:</label>
                                    <input type="text" class="form-control" name="serial" value="{{row.serial}}">
                                </div>

                                <div class="mb-3">
                                    <label>Имя СВТ в домене:</label>
                                    <input type="text" class="form-control" name="namedomain" value="{{row.namedomain}}">
                                </div>

                                <div class="mb-3">
                                    <label>Имя пользователя:</label>
                                    <input type="text" class="form-control" name="nameuser" value="{{row.nameuser}}">
                                </div>

                                 <div class="mb-3">
                                    <label>Тип ОС:</label>
                                  <input type="text" size="50" value="{{row.typeos}}"  disabled style="border: none">
                                    <select class="form-select" name="typeos" type="text" id="{{row.typeos}}">
                                        <option selected>Выберите из списка</option>
                                        <option value="AL Smolensk 1.6">AL Smolensk 1.6</option>
                                        <option value="AL Smolensk 1.7">AL Smolensk 1.7</option>
                                        <option value="AL Орёл">AL "Орёл"</option>
                                        <option value="Windows 7">Windows 7</option>
                                        <option value="Windows 10">Windows 10</option>
                                        <option value="Windows Server 2008">Windows Server 2008</option>
                                        <option value="Windows Server 2012">Windows Server 2012</option>
                                    </select>

                                </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary" type="submit">Обновить</button>
                                        <button type="button" class="btn btn-secondary text-center" data-bs-dismiss="modal">Отменить</button>
                                    </div>
                               </form>

                           </div>
                       </div>
                   </div>
</div>

                        {% endfor %}
            </table>

        </div>

            <!-- Модальное окно создания-->
            <div id="mymodal" class="modal fade" role="dialog">
                 <div class="modal-dialog modal-lg modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">

                <h4 class="modal-title">Добавление новой записи в базу:</h4>
            </div>

            <div class="modal-body">
                          <form action="{{url_for('insert')}}" method="POST">

                              <div class="mb-3">
                                  <label>Тип СВТ:</label>
                                  <select class="form-select" name="typesvt">
                                      <option selected>Выберите из списка</option>
                                      <option value="ПЭВМ">ПЭВМ</option>
                                      <option value="Моноблок">Моноблок</option>
                                      <option value="Ноутбук">Ноутбук</option>
                                  </select>

                              </div>

                              <div class="mb-3">
                                  <label>Отделение:</label>
<!--                                  <input name="otd" >-->
                                  <select class="form-select" name="otd">
<!--                                      <option selected>Выберите из списка</option>-->
                                      <optgroup label="Терапевтический корпус">
                                      <option value="ОС и ИТ">ОС и ИТ</option>
                                      <option value="ИТО">ИТО</option>
                                      </optgroup>
                                  </select>
                              </div>

                              <div class="mb-3">
                                  <label>МОЛ:</label>
                                  <input type="text" class="form-control" name="mol">
                              </div>

                              <div class="mb-3">
                                  <label>Инвентарный номер:</label>
                                  <input type="text" class="form-control" name="inv">
                              </div>

                              <div class="mb-3">
                                  <label>Серийный номер:</label>
                                  <input type="text" class="form-control" name="serial">
                              </div>

                              <div class="mb-3">
                                  <label>Имя СВТ в домене:</label>
                                  <input type="text" class="form-control" name="namedomain">
                              </div>

                              <div class="mb-3">
                                  <label>Имя пользователя:</label>
                                  <input type="text" class="form-control" name="nameuser">
                              </div>

                              <div class="mb-3">
                                  <label>Тип ОС:</label>
                                  <select class="form-select" name="typeos">
                                      <option selected>Выберите из списка</option>
                                      <option value="AL Smolensk 1.6">AL Smolensk 1.6</option>
                                      <option value="AL Smolensk 1.7">AL Smolensk 1.7</option>
                                      <option value="AL Орёл">AL "Орёл"</option>
                                      <option value="Windows 7">Windows 7</option>
                                      <option value="Windows 10">Windows 10</option>
                                      <option value="Windows Server 2008">Windows Server 2008</option>
                                      <option value="Windows Server 2012">Windows Server 2012</option>
                                  </select>
                              </div>

                              <div class="mb-3">
                                  <button class="btn btn-primary" type="submit">Добавить</button>
                                  <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Закрыть</button>
                              </div>

                          </form>
            </div>


            </div>


        </div>
    </div>
</div>
        </div>
        </div>
    </div>
{% endblock %}